/* .glass {
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.25),
    0 20px 50px rgba(0, 0, 0, 0.35),
    0 5 10px rgb(0, 0, 0);
} */
.myTable {
  transition: all 0.3s ease-in-out;
}
.myTable tbody tr td {
  /* background-color: aqua; */
  padding: 0.3rem 0;
  color: var(--font);
  font-size: 0.9em;
}

.myTable tbody tr:hover {
  background-color: var(--primary-background);
}
