.glass {
  width: 300rem !important;
  height: 50%;
  transform: rotate(30deg);
  flex-shrink: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.25),
    0 20px 40px rgba(0, 0, 0, 0.35),
    0 0 40px rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

@media (max-width: 640px) {
  .glass {
    height: 40% !important;
  }
}

.font {
  color: var(--font);
}
.font span:nth-child(3) {
  color: var(--accen-first);
}

.person {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../../public/asset/pageIndex/person.png);
  /* background-image: url(../../../../public/asset/pageIllustrator/background.webp); */
  background-attachment: fixed;
}
