.borderLeft {
  border-bottom-left-radius: 10px;
}

.outlineTop {
  border-top: 2px solid var(--accen-first);
}

.mockupShadow {
  box-shadow:
    rgba(0, 0, 0, 0.587) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.717) 0px 2px 6px 2px;
  background-color: var(--font);
}
