.glass {
  width: 300rem !important;
  /* background-color: aqua; */
  height: 50%;
  transform: rotate(30deg);
  flex-shrink: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  box-shadow:
    /* highlight kaca */
    inset 0 1px 1px rgba(255, 255, 255, 0.25),
    /* shadow utama */ 0 20px 40px rgba(0, 0, 0, 0.35),
    /* glow lembut */ 0 0 40px rgba(255, 255, 255, 0.08);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 50%;
}

@media (max-width: 640px) {
  .glass {
    height: 40% !important;
    /* background-color: red !important; */
  }
}

.font {
  color: var(--font);
}
.font span:nth-child(2) {
  color: var(--accen-first);
}
