.glass {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.444),
    rgba(4, 4, 4, 0.355)
  );

  box-shadow:
    inset 0 2px 3px rgba(255, 255, 255, 0.25),
    0 20px 100px rgba(0, 0, 0, 0.35),
    0 20 40px rgba(255, 255, 255, 0.08);
}
