.card {
  outline: 1px solid transparent;
  box-shadow: transparent;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  outline: 0.05rem solid var(--accen-first);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.focus {
  border-top: 1px solid var(--primary-background);
}
