@import "tailwindcss";

.max-width-custom {
  max-width: 80rem;
}

:root {
  --accen-first: #ff9b00;
  --accen-second: #c10000;
  --footer: #131212;
  --font: #cacaca;
  --primary-background: #222831;
  --secondary-background: #181c23;
}

.bg-primary {
  background-color: var(--primary-background);
}
.bg-secondary {
  background-color: var(--secondary-background);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
