@import "tailwindcss";

.max-width-custom {
  max-width: 80rem;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

:root {
  --accen-first: #ff9b00;
  --accen-second: #c10000;
  --footer: #131212;
  --font: #cacaca;
  --primary-background: #222831;
  --secondary-background: #181c23;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
html.lenis {
  height: auto;
}
/* Universal button */

.globalButton {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: var(--font);
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.globalButton::after,
.globalButton::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.globalButton::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background-color: #28282d;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.globalButton::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.globalButton:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.globalButton:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.globalButton:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* universal button end */

.main-font {
  color: var(--font);
}
.font-accen-first {
  color: var(--accen-first) !important;
}
.font-accen-second {
  color: var(--accen-second) !important;
}

.font-secondary {
  color: var(--secondary-background);
}
.bg-main-font {
  background-color: var(--font);
}

.bg-primary {
  background-color: var(--primary-background);
}
.bg-secondary {
  background-color: var(--secondary-background);
}
.bg-accen-first {
  background-color: var(--accen-first);
}
