@import "tailwindcss";

:root {
  --footer: #131212;
  --foreground: #cacaca;
  --primary-background: #222831;
  --secondary-background: #181c23;
}

[data-theme="light"] {
  --foreground: #212020;
  --primary-background: #fbfbfb;
  --secondary-background: #9ea6b5;
}

@theme inline {
  --primary-background: var(--primary-background);
  --secondary-background: var(--secondary-background);
  --foreground: var(--foreground);
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
html.lenis {
  height: auto;
}
