@import "tailwindcss";

.max-width-custom {
  max-width: 80rem;
}

:root {
  --accen-first: #ff9b00;
  --accen-second: #c10000;
  --footer: #131212;
  --font: #cacaca;
  --primary-background: #222831;
  --secondary-background: #181c23;
}
