.gradient::before {
  content: "";
  position: absolute;
  bottom: 100%;
  height: 8rem;
  width: 100%;
  background: linear-gradient(
    to top,
    var(--secondary-background) 20%,
    rgba(255, 255, 0, 0)
  );
}
