.gradient::before {
  content: "";
  position: absolute;
  bottom: 100%;
  height: 8rem;
  width: 100%;
  background: linear-gradient(
    to top,
    var(--secondary-background) 20%,
    rgba(255, 255, 0, 0)
  );
}

.sayapKiri {
  animation: sayapKiriHempas 1s ease-in-out infinite;
  transform-style: preserve-3d;
  will-change: transform;
}
.sayapKanan {
  animation: sayapKananHempas 1s ease-in-out infinite;
  transform-style: preserve-3d;
  will-change: transform;
}
.ekor {
  animation: rotateDepan 0.5s ease-in-out infinite alternate;
}
.objectRandom {
  animation: wiggle 5s ease-in-out infinite;
  transform-origin: center;
  will-change: transform;
}

@keyframes sayapKiriHempas {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-20deg); /* Arah turun ke bawah */
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes sayapKananHempas {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(20deg); /* Lawan dari kiri: arah turun ke bawah */
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes rotateDepan {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(50deg);
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(0) rotate(0deg) scale(0.99, 0.99);
  }

  10% {
    transform: translateY(-4px) rotate(-2deg) scale(0.95, 0.95);
  }

  20% {
    transform: translateY(-6px) rotate(2deg) scale(0.98, 0.95);
  }

  35% {
    transform: translateY(-3px) rotate(-1deg) scale(0.95, 0.94);
  }

  50% {
    transform: translateY(0) rotate(1deg) scale(1, 1);
  }

  65% {
    transform: translateY(-5px) rotate(-2deg) scale(0.95, 0.96);
  }

  80% {
    transform: translateY(-2px) rotate(2deg) scale(0.99, 0.95);
  }

  100% {
    transform: translateY(0) rotate(0deg) scale(0.99, 0.99);
  }
}

.fontBold span {
  font-weight: 900;
  font-size: 1.6em !important;
  color: var(--font);
}

.sbhas {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.159);
  -webkit-backdrop-filter: blur(18px);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.25),
    0 20px 40px rgba(0, 0, 0, 0.35),
    0 0 40px rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.sbhas div {
  will-change: transform;
}

.sbhas::before {
  content: "";
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 5rem;
  inset: 0;
  background: linear-gradient(
    to right,
    var(--secondary-background) 20%,
    rgba(255, 255, 0, 0)
  );
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.scrollLeft {
  display: flex;
  animation: scrollLeft 40s linear infinite;
}

.scrollRight {
  display: flex;
  animation: scrollRight 40s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.sbhas {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  pointer-events: none;
}
