@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

.fontNav {
  font-family: "Special Gothic Expanded One", sans-serif;
}

/* new */
.shadow {
  backdrop-filter: blur(12px) !important;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.329),
    rgba(255, 255, 255, 0.314)
  );
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.shadowv2 {
  background: linear-gradient(
    to left,
    var(--footer),
    var(--primary-background)
  );
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*  */

/* nav.module.css */
.lines {
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--accen-first);
  border-radius: 10px;
}
