@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

.fontNav {
  font-family: "Special Gothic Expanded One", sans-serif;
}

/* new */
.shadowGlass {
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.25),
    0 20px 50px rgba(0, 0, 0, 0.35),
    0 10 10px rgba(0, 0, 0, 0.08);
}

/*  */

/* nav.module.css */

.menuWrapper {
  position: relative;
  width: 30px; /* Ukuran disesuaikan agar pas di navbar */
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuWrapper div {
  position: relative;
  height: 3px;
  background-color: #fff;
  transition:
    0.3s ease transform,
    0.3s ease top,
    0.3s ease width,
    0.3s ease right;
  border-radius: 10px;
  width: 100%;
}

.menuWrapper div:first-child {
  transform-origin: 0;
}

.menuWrapper div:last-child {
  transform-origin: 100%;
}

/* Animasi ketika state isOpen bernilai true */
.activeMenu div:first-child {
  top: -2px;
  transform: rotateZ(45deg);
  width: 33px;
}

.activeMenu div:last-child {
  top: 2px;
  transform: rotateZ(45deg);
  width: 33px;
}

.activeMenu div:nth-child(2) {
  width: 40px;
  top: 0;
  right: 5px;
  transform: rotateZ(-45deg);
}
