@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

.fontNav {
  font-family: "Special Gothic Expanded One", sans-serif;
}

/* new */
.shadowGlass {
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.25),
    0 20px 50px rgba(0, 0, 0, 0.35),
    0 10 10px rgba(0, 0, 0, 0.08);
}

/*  */

/* nav.module.css */
.lines {
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--accen-first);
  border-radius: 10px;
}
